@using DestallMaterials.Blazor.Components.Common
@using DestallMaterials.Blazor.Components.Services.UI

@inherits DisposableComponent

@inject IGlobalClickCatcher globalClick

<div style="@Style" class="@Class" @onmouseout="() => MouseIn = false"
     @onmouseover="() => MouseIn = true"
     @onmouseleave="() => MouseIn = false"
     @onmouseenter="() => MouseIn = true">
    @ChildContent
</div>

@code {
    [Parameter]
    [EditorRequired]
    public Action? OnOuterClick { get; set; }

    [Parameter]
    [EditorRequired]
    public Action? OnInnerClick { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string Style { get; set; } = "";

    bool MouseIn = false;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            BindToLifetime(globalClick.OnMouseClicked((_, _) =>
            {
                if (MouseIn)
                {
                    OnInnerClick?.Invoke();
                }
                else
                {
                    OnOuterClick?.Invoke();
                }
            }));
        }
    }
}
