@using DestallMaterials.Blazor.Components.Common
@using DestallMaterials.Blazor.Components.Services.UI

@inherits DisposableComponent

@inject IGlobalClickCatcher globalClick

<div style="@Style" class="@Class" @onmouseout="() => mouseIn = false" @onmouseover="() => mouseIn = true">
    @ChildContent
</div>

@code {
    [Parameter]
    [EditorRequired]
    public Func<Task> OnOuterClick { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Class { get; set; }
    
    [Parameter]
    public string Style { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        BindToLifetime(globalClick.SubscribeForGlobalClick(async e =>
        {
            if (!mouseIn)
            {
                await OnOuterClick();
            }
        }));
    }

    bool mouseIn = false;
}
