@inherits ViewComponent

<div class="spinner-chasing-dots card-central" style="width: 80%; height: 80%">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
</div>


@code {

}
