@inherits BaseInput<bool>

@{
    string cssClass = $"flag base-input {(Disabled ? "disabled" : "")} {(Error is not null ? "errored" : "")} {Class}";
    Action onChecked = () => OnValueChanged(!Value);
}
<label class="@cssClass" @onclick="onChecked">
    <input type="checkbox"
           class="flag-checkbox"
           disabled="@Disabled"
           checked="@Value"
           />
    <span class="flag-checkmark"></span>
    @if (!string.IsNullOrEmpty(Label))
    {
        <span class="flag-label">@Label</span>
    }
    @if (ChildContent is not null)
    {
        @ChildContent
    }
</label>