@using DestallMaterials.Blazor.Services;

@inherits BaseInput<bool>

<label class="flag baseinput @(Disabled ? "disabled" : "") @Class">
    <input type="checkbox"
           class="flag-checkbox"
           @bind-value=Value
           @oninput="() => {}"
           disabled="@Disabled" />
    <span class="flag-checkmark"></span>
    @if (!string.IsNullOrEmpty(Label))
    {
        <span class="flag-label">@Label</span>
    }
</label>