@using System.Globalization

@inherits BaseInput<DateOnly>

<div class="flexible-date-picker @(HasError ? "errored" : "")" style="min-width: 125px;">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="flexible-date-picker-label">@Label</label>
    }
    <input type="text"
           class="flexible-date-picker-field"
           @bind="TextValue"
           @bind:event="oninput"
           @onblur="OnBlur"
           placeholder="@ValueNotSetText" />
    @if (Clearable && Value != default)
    {
        <button type="button" class="flexible-date-picker-clear" @onclick="ClearValue">×</button>
    }
    @if (HasError && !string.IsNullOrEmpty(Error))
    {
        <span class="flexible-date-picker-error">@Error</span>
    }
</div>

@code {
    private string _dateFormat = "dd.MM.yyyy";

    static readonly string[] _shortFormats 
        = ["ddMM", "dd.MM", "dd", "d"];
    static readonly string[] _formats 
        = ["ddMMyy", "dd.MM.yyyy", "dd.M.yyyy", "d.MM.yyyy", "d.M.yyyy", "dd.MM.yy", "dd.M.yy", "d.MM.yy", "d.M.yy"];

    [Parameter]
    public string PlaceholderText { get; set; }

    [Parameter]
    public CultureInfo Culture { get; set; } = CultureInfo.CurrentCulture;

    [Parameter]
    public bool Clearable { get; set; }

    [Parameter]
    public string ValueNotSetText { get; set; } = "Not set";

    private string TextValue
    {
        get => Value == default ? "" : Value.ToString(_dateFormat);
        set => DatePickerTextChanged(value);
    }

    void ClearValue()
    {
        Value = default;
        _ = OnValueChangedAsync(default);
    }

    void DatePickerTextChanged(string value)
    {
        DateOnly newValue = default;
        if (value == null || value.Length < 6 && !value.EndsWith(" "))
        {
        }
        else
        {
            if (DateTime.TryParseExact(value, _formats, CultureInfo.InvariantCulture, DateTimeStyles.None, out DateTime validDate))
            {
                newValue = DateOnly.FromDateTime(validDate);
            }
            else if (DateTime.TryParseExact(value, _shortFormats, CultureInfo.InvariantCulture, DateTimeStyles.None, out validDate))
            {
                var now = DateTime.Now;
                newValue = DateOnly.FromDateTime(validDate);
                newValue = DateOnly.FromDateTime(validDate).AddMonths(now.Month - validDate.Month);
            }
        }
        var valueChanged = newValue != Value;
        Value = newValue;

        if (valueChanged)
        {
            _ = OnValueChangedAsync(newValue);
        }
    }

    private async Task OnValueChangedAsync(DateOnly newValue)
    {
        OnValueChanged?.Invoke(newValue);
        await Task.CompletedTask;
        StateHasChanged();
    }
}